html, body{
  height: 100%;
background-image: url("https://transparenttextures.com/patterns/brick-wall.png");
}


body{
  background-color: #bbe1fa;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;

}

.heading{
  position: absolute;
  top: 50%;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv  Responsive Heading  vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
@media (max-width: 575px) {
  .heading{
    padding-left: 17%;
  }
}
@media (max-width: 933px) and (min-width: 575px) {
  .heading{
    padding-left: 15%;
  }
}

@media (max-width: 1244px) and (min-width: 934px) {
  .heading{
      left: 47%;
      -o-transform: translateX(-47%) translateY(-50%);
      -ms-transform: translateX(-47%) translateY(-50%);
      -moz-transform: translateX(-47%) translateY(-50%);
      -webkit-transform: translateX(-47%) translateY(-50%);
      transform: translateX(-47%) translateY(-50%);
  }
}

@media (min-width: 1244px) {
  .heading{
      left: 50%;
      -o-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  }
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^   Responsive Heading  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.top-containter{
  background-color: #1b262c;
  background-image: url("https://transparenttextures.com/patterns/always-grey.png");
  position: relative;
  padding-top: 100px;
  height: 100%;

}

#particles-js{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1b262c;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv   Heading Animation  vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
h1{
  display: inline;
  position: relative;
  animation: animate 5s linear infinite;
  font-family: 'Sacramento', cursive;
  padding: 50px;
  color: #0e3752;
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 70%, 90.1%,92%
  {
    color: #0e3742;
    box-shadow: none;

  }
  5%, 13%, 20.1%, 45%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 30px #03bcf4,
    0 0 40px #03bcf4,
    0 0 50px #03bcf4;

  }
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  Heading Animation ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* -vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv  H2 Animation vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
h2
{
  line-height: 2;
  font-size: 2.5rem;
  color: #3282b8;
}

span{
font-size: 2.5rem;
color: #bbe1fa;
}


.wrapper{
  position: relative;
  display: inline-flex;
}

.static-txt{
  line-height: 1.88;
  font-size: 2.5rem;
  color: #bbe1fa;
}

.dynamic-txt{
text-align: left;
margin-left: 10px;
line-height: 2;
height: 90px;
overflow: hidden;
}

.dynamic-txt li{
  list-style: none;
  font-size: 2.5rem;
  animation: slide 7.5s steps(3) infinite;
  position: relative;
  top: 0;
}

@keyframes slide {
  100%{
    top: -15.05rem;
  }
}

.dynamic-txt li span{
  position: relative;
}

.dynamic-txt li span::after{
  content: "";
  position: absolute;;
  background: #1b262c;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #bbe1fa;
  animation: typing 2.5s steps(12) infinite;
}

@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -2rem 0 2rem;
  }
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^H2 Animation^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv Scroll Animation vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
.down{
  bottom: 2%;
  /* margin-bottom: 5%; */
}

[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
	height: 60px;
	width: 80px;
	margin: 0px 0 2% -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  Scroll Animation  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv  Custom Scrollbar  vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0 rgb(27,38,44);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: #1B262C;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  Custom Scrollbar ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
h2{
  font-size: 2rem !important;
}

a{
  padding: 20px;
  color: #bbe1fa;
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #FFF !important;
}

p{
  color: #40514E;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 0 !important;
}

.skills p{
  padding-top: 15%;
}

.middle-container{
  margin: 100px auto;
}

.contact-me{
  padding-top: 7%;
}

.contact-message{
  width: 10%;
  height: 10%;
}



/* --------------------------------------------------------------Responsive CSS------------------------------------------------------------------ */
@media (max-width: 576px) {
  h1
  {
      font-size: 4rem !important;
  }
  p{
    font-size: 1.25rem;
  }
  .profile-picture{
    margin: 2% 0;
    width: 25%;
    height: 25%;
  }
  .skill{
    width: 35%;
    padding: 1%;
  }
  .contact-me p{
    padding: 1% 0 7% 0;
  }
}



@media (max-width: 990px) and (min-width: 576px){
  h1
  {
    font-size: 6rem !important;
  }
  p{
    font-size: 1.5rem;
  }
  .profile-picture{
    margin: 5% 0;
    width: 20%;
    height: 20%;
  }
  .skill{
    width: 25%;
    padding: 2%;
  }

  .contact-me p{
    padding: 1% 0 5% 0;
  }
}

@media (min-width: 990px) {
  h1
  {
    font-size: 8rem !important;
  }
  p{
    font-size: 1.5rem;
  }
  .profile-picture{
    margin: 5% 0;
    width: 15%;
    height: 15%;
  }
  .skill{
    width: 25%;
    padding: 1%;
  }
  .contact-me p{
    padding: 1% 0 3% 0;
  }
}


/* --------------------------------------------------------------Responsive CSS------------------------------------------------------------------ */


.bottom-container{
  margin: 100px auto 0 auto;
  background-color: #0f4c75;
  padding: 30px 0 0;
}

.footer-link{
  text-decoration: none;
  color: white;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.85rem;
  padding: 20px 0;
}
